<h1>This is a page about the movie The Sixth Sense</h1>
<ul>
  <li>Movie Title: <%=Film.find_by_id(2).title%></li>
  <li>Price (GBP): <%=Film.find_by_id(2).price%></li>
</ul>

<div class="return_home">
  <a href="/films">Click to return to index page
</div>
