body {
  background-color: #7B9EA9;
  max-width: 500px;
}

h1 {
  font-style: bold;
  color: black;
}

li{
  list-style: none;
  justify-content: center;
  font-size: 32px;
  color: white;
  font-style: bold;
}

a{
  color: white;
  text-decoration: none;
}

div a {
color: blue}
